<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="addMemberForm" ng-submit="createMembership()">
                <div class="modal-header">
                    <h4 translate="MODALS.ADD_MEMBER_TITLE"></h4>
                    <p translate="MODALS.ADD_MEMBER_SUBTITLE"></p>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3 form-label" translate="GROUP_DETAILS.MEMBER_NAME"></div>
                        <div class="col-md-9 col-lg-9">
                            <ui-select ng-model="memberDetails.user" required>
                                <ui-select-match>
                                    <span>{{$select.selected.firstName}} {{$select.selected.lastName}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="user in userList | filter: $select.search track by $index">
                                    <span>{{user.firstName}} {{user.lastName}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3 form-label" translate="GROUP_DETAILS.MEMBER_ROLE"></div>
                        <div class="col-md-9 col-lg-9">
                            <ui-select ng-model="memberDetails.role" required>
                                <ui-select-match>
                                    <span translate="GROUP_ROLES.{{$select.selected}}"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in getAllowedUserRoles() | filter: $select.search track by $index">
                                    <span translate="GROUP_ROLES.{{item}}"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismissModal()" translate="BUTTON_LABELS.CANCEL"></button>
                    <button type="submit" class="btn btn-primary" translate="BUTTON_LABELS.ADD"></button>
                </div>
            </form>
        </div>
    </div>
</div>