<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="createPocketForm" ng-submit="createNewPocket()">
                <div class="modal-header">
                    <h4 translate="MODALS.ADD_POCKET_TITLE"></h4>
                    <p translate="MODALS.ADD_POCKET_SUBTITLE"></p>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3 form-label" translate="POCKET_DETAILS.POCKET_NAME"></div>
                        <div class="col-md-9 col-lg-9">
                            <input type="text" class="form-control" name="pocket_name" ng-model="pocketDetails.pocketName" ng-maxlength="50" maxlength="50" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3 form-label" translate="POCKET_DETAILS.DESCRIPTION"></div>
                        <div class="col-md-9 col-lg-9">
                            <textarea type="text" class="form-control" rows="7" name="description" ng-model="pocketDetails.description" ng-maxlength="100" maxlength="100"></textarea>
                            <p class="form-hint text-muted" translate="MODALS.CHAR_LIMIT_HINT" translate-values="{num: 100 - pocketDetails.description.length}"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3 form-label" translate="POCKET_DETAILS.INITIAL_VALUE"></div>
                        <div class="col-md-9 col-lg-9">
                            <input type="number" class="form-control" name="pocket_balance" ng-model="pocketDetails.balance" max="2147483647" min="-2147483648" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3 form-label" translate="POCKET_DETAILS.CURRENCY"></div>
                        <div class="col-md-9 col-lg-9">
                             <ui-select ng-model="pocketDetails.currency" required>
                                <ui-select-match>
                                    <span translate="CURRENCIES.{{$select.selected}}"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="currency in ['HUF', 'USD'] | filter: $select.search track by $index">
                                    <span translate="CURRENCIES.{{currency}}"></span> ({{currency}})
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismissModal()" translate="BUTTON_LABELS.CANCEL"></button>
                    <button type="submit" class="btn btn-primary" translate="BUTTON_LABELS.CREATE"></button>
                </div>
            </form>
        </div>
    </div>
</div>