<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="createPocketEntryForm" ng-submit="createNewPocketEntry()">
                <div class="modal-header">
                    <h4 translate="MODALS.ADD_POCKET_ENTRY_TITLE"></h4>
                    <p translate="MODALS.ADD_POCKET_ENTRY_SUBTITLE"></p>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3 form-label" translate="POCKET_ENTRY_DETAILS.ENTRY_NAME"></div>
                        <div class="col-md-9 col-lg-9">
                            <input type="text" class="form-control" name="entry_name" ng-model="entryDetails.entryName" ng-maxlength="50" maxlength="50">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3 form-label" translate="POCKET_ENTRY_DETAILS.DESCRIPTION"></div>
                        <div class="col-md-9 col-lg-9">
                            <textarea type="text" class="form-control" rows="7" name="description" ng-model="entryDetails.description" ng-maxlength="100" maxlength="100"></textarea>
                            <p class="form-hint text-muted" translate="MODALS.CHAR_LIMIT_HINT" translate-values="{num: 100 - entryDetails.description.length}"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3 form-label" translate="POCKET_ENTRY_DETAILS.AMOUNT"></div>
                        <div class="col-md-9 col-lg-9">
                            <input type="number" class="form-control" name="entry_amount" ng-model="entryDetails.amount" max="2147483647" min="-2147483648" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismissModal()" translate="BUTTON_LABELS.CANCEL"></button>
                    <button type="submit" class="btn btn-primary" translate="BUTTON_LABELS.CREATE"></button>
                </div>
            </form>
        </div>
    </div>
</div>