<div class="modal modal-confirm fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deletePocketForm" ng-submit="deletePocket()">
                <div class="modal-header">
                    <h4 translate="MODALS.DELETE_POCKET_TITLE"></h4>
                    <p translate="MODALS.DELETE_POCKET_SUBTITLE"></p>
                </div>
                <div class="modal-body clearfix">
                    <div>
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                    <div>
                        <h4 translate="MODALS.DELETE_POCKET_CONFIRM_TITLE"></h4>
                        <p class="text-muted" translate="MODALS.DELETE_POCKET_CONFIRM"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismissModal()" translate="BUTTON_LABELS.CANCEL"></button>
                    <button type="submit" class="btn btn-danger" translate="BUTTON_LABELS.DELETE"></button>
                </div>
            </form>
        </div>
    </div>
</div>