<div class="modal modal-confirm fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deleteAccountForm" ng-submit="deleteAccount()">
                <div class="modal-header">
                    <h4 translate="MODALS.DELETE_ACCOUNT_TITLE"></h4>
                    <p translate="MODALS.DELETE_ACCOUNT_SUBTITLE"></p>
                </div>
                <div class="modal-body clearfix">
                    <div>
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                    <div>
                        <notification ng-model="notifications.passwordMatchError" ng-init="notifications.passwordMatchError = false" text="ERROR_MESSAGES.INVALID_PASSWORD" type="danger">
                            
                        </notification>

                        <h4 translate="MODALS.DELETE_ACCOUNT_CONFIRM_TITLE"></h4>
                        <p class="text-muted" translate="MODALS.DELETE_ACCOUNT_CONFIRM"></p>
                        <input type="password" class="form-control" ng-model="passwordConfirmation" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismissModal()" translate="BUTTON_LABELS.CANCEL"></button>
                    <button type="submit" class="btn btn-danger" translate="BUTTON_LABELS.DELETE"></button>
                </div>
            </form>
        </div>
    </div>
</div>