<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="editGroupForm" ng-submit="updateSelectedGroup()">
                <div class="modal-header">
                    <h4 translate="MODALS.EDIT_GROUP_TITLE"></h4>
                    <p translate="MODALS.EDIT_GROUP_SUBTITLE"></p>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3 form-label" translate="GROUP_DETAILS.GROUP_NAME"></div>
                        <div class="col-md-9 col-lg-9">
                            <input type="text" class="form-control" name="group_name" ng-model="selectedGroup.groupName" ng-maxlength="50" maxlength="50" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3 form-label" translate="GROUP_DETAILS.DESCRIPTION"></div>
                        <div class="col-md-9 col-lg-9">
                            <textarea class="form-control" rows="6" name="description" ng-model="selectedGroup.description" ng-maxlength="100" maxlength="100"></textarea>
                            <p class="form-hint text-muted" translate="MODALS.CHAR_LIMIT_HINT" translate-values="{num: 100 - selectedGroup.description.length}"></p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3 form-label" translate="GROUP_DETAILS.PUBLIC"></div>
                        <div class="col-md-9 col-lg-9 form-label">
                            <div class="checkbox checkbox-default">
                                <input id="isPublic" type="checkbox" name="is_public" ng-model="selectedGroup.public">
                                <label for="isPublic"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismissModal()" translate="BUTTON_LABELS.CANCEL"></button>
                    <button type="submit" class="btn btn-primary" translate="BUTTON_LABELS.EDIT"></button>
                </div>
            </form>
        </div>
    </div>
</div>