<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="editMemberForm" ng-submit="updateMembership()">
                <div class="modal-header">
                    <h4 translate="MODALS.EDIT_MEMBER_TITLE"></h4>
                    <p translate="MODALS.EDIT_MEMBER_SUBTITLE"></p>
                </div>
                <div class="modal-body" style="display: table; padding: 15px; vertical-align: middle; width: 100%;">
                    <div style="display: table-cell; width: 1px; vertical-align: middle;">
                        <img class="profile-picture profile-picture-lg" ng-src="/images/profiles/{{selectedMember.profilePicture}}">
                    </div>
                    <div style="display: table-cell; height: 120px; position: relative;">
                        <div style="position: absolute; top: 0px; left: 15px; right: 0px;">
                            <h3 style="font-weight: 300; margin: 0px; font-size: 20px;">{{selectedMember.firstName}} {{selectedMember.lastName}}</h3>
                            <span class="text-muted" translate="GROUP_ROLES.{{selectedMember.memberRole}}"></span>
                        </div>

                        <div style="position: absolute; left: 15px; right: 0px; bottom: 0px">
                            <span class="text-muted" translate="MODALS.NEW_MEMBER_ROLE"></span>
                            <ui-select ng-model="selectedMember.role" required>
                                <ui-select-match>
                                    <span translate="GROUP_ROLES.{{$select.selected}}"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in getAllowedUserRoles() | filter: $select.search track by $index">
                                    <span translate="GROUP_ROLES.{{item}}"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismissModal()" translate="BUTTON_LABELS.CANCEL"></button>
                    <button type="submit" class="btn btn-primary" translate="BUTTON_LABELS.EDIT"></button>
                </div>
            </form>
        </div>
    </div>
</div>