<!DOCTYPE html>
<html ng-app="SwampApplication">
    <head>
        <title>Swamp - {{$root.titleKey | translate}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="images/swamp.png">

        <!-- Application files -->
        <link rel="stylesheet" type="text/css" href="css/swamp.min.css">
        <script type="text/javascript" src="scripts/swamp.min.js"></script>
    </head>
    <body ui-view>

    </body>
</html>