<!DOCTYPE html>
<html ng-app="SwampApplication">
    <head>
        <title>Swamp - {{$root.titleKey | translate}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="images/swamp.png">

        <!-- CSS stylesheets -->
        <link rel="stylesheet" href="css/angular-ui-select.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/common-elements.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/google-fonts.min.css">
        <link rel="stylesheet" href="css/jquery.jqplot.min.css">
        <link rel="stylesheet" href="css/landing-page-theme.css">
        <link rel="stylesheet" href="css/loaders.min.css">
        <link rel="stylesheet" href="css/public-elements-theme.css">

        <!-- 3rd party framework files -->
        <script type="text/javascript" src="scripts/lib/jquery-2.2.2.min.js"></script>
        <script type="text/javascript" src="scripts/lib/jquery.jqplot.min.js"></script>
        <script type="text/javascript" src="scripts/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-cookies.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-messages.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-translate.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-translate-loader-static-files.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-translate-storage-cookie.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-translate-storage-local.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-ui-chart.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="scripts/lib/angular-ui-select.min.js"></script>

        <!-- Custom application files -->
        <script type="text/javascript" src="scripts/Application.js"></script>
        <script type="text/javascript" src="scripts/configuration/ApplicationConstants.js"></script>
        <script type="text/javascript" src="scripts/configuration/AuthorizationConfiguration.js"></script>
        <script type="text/javascript" src="scripts/configuration/LocalizationConfiguration.js"></script>
        <script type="text/javascript" src="scripts/configuration/RouteConfiguration.js"></script>
        <script type="text/javascript" src="scripts/controllers/modals/GroupModalController.js"></script>
        <script type="text/javascript" src="scripts/controllers/modals/MemberModalController.js"></script>
        <script type="text/javascript" src="scripts/controllers/modals/PocketEntryModalController.js"></script>
        <script type="text/javascript" src="scripts/controllers/modals/PocketModalController.js"></script>
        <script type="text/javascript" src="scripts/controllers/protected/DashboardController.js"></script>
        <script type="text/javascript" src="scripts/controllers/protected/GroupDetailsController.js"></script>
        <script type="text/javascript" src="scripts/controllers/protected/GroupListController.js"></script>
        <script type="text/javascript" src="scripts/controllers/protected/MyFinancesController.js"></script>
        <script type="text/javascript" src="scripts/controllers/protected/NavigationController.js"></script>
        <script type="text/javascript" src="scripts/controllers/protected/PocketDetailsController.js"></script>
        <script type="text/javascript" src="scripts/controllers/protected/SettingsPageController.js"></script>
        <script type="text/javascript" src="scripts/controllers/public/ActivationController.js"></script>
        <script type="text/javascript" src="scripts/controllers/public/HomeController.js"></script>
        <script type="text/javascript" src="scripts/controllers/public/LoginController.js"></script>
        <script type="text/javascript" src="scripts/controllers/public/PasswordResetController.js"></script>
        <script type="text/javascript" src="scripts/controllers/public/RegistrationController.js"></script>
        <script type="text/javascript" src="scripts/directives/AuthorityDirective.js"></script>
        <script type="text/javascript" src="scripts/directives/MatchesDirective.js"></script>
        <script type="text/javascript" src="scripts/directives/NotificationDirective.js"></script>
        <script type="text/javascript" src="scripts/directives/ScrollAwareDirective.js"></script>
        <script type="text/javascript" src="scripts/directives/SmoothScrollDirective.js"></script>
        <script type="text/javascript" src="scripts/directives/TooltipDirective.js"></script>
        <script type="text/javascript" src="scripts/filters/AbsoluteFilter.js"></script>
        <script type="text/javascript" src="scripts/services/AuthenticationService.js"></script>
        <script type="text/javascript" src="scripts/services/AuthorizationInterceptorService.js"></script>
        <script type="text/javascript" src="scripts/services/GroupService.js"></script>
        <script type="text/javascript" src="scripts/services/IdentityService.js"></script>
        <script type="text/javascript" src="scripts/services/MembershipService.js"></script>
        <script type="text/javascript" src="scripts/services/ModalService.js"></script>
        <script type="text/javascript" src="scripts/services/PocketEntryService.js"></script>
        <script type="text/javascript" src="scripts/services/PocketService.js"></script>
        <script type="text/javascript" src="scripts/services/TokenService.js"></script>
        <script type="text/javascript" src="scripts/services/UserService.js"></script>
    </head>
    <body ui-view>

    </body>
</html>