<nav class="navbar navbar-default navbar-swamp navbar-fixed-top" role="navigation" ng-controller="NavigationController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-bar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="protected.dashboard">Swamp</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-bar">
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-menu-item">
                    <a ui-sref="protected.finances" translate="NAVIGATION_BAR.MY_FINANCES"></a>
                </li>
                <li class="navbar-menu-item">
                    <a ui-sref="protected.groups" translate="NAVIGATION_BAR.GROUPS"></a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="profile-picture profile-picture-xs mr5px" ng-src="/images/profiles/{{currentUser.profilePicture}}" alt="Profile">
                        {{currentUser.firstName}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="protected.settings"><i class="fa fa-cog"></i>&emsp;<span translate="NAVIGATION_BAR.SETTINGS"></span></a>
                        </li>
                        <li>
                            <a ng-click="logout()"><i class="fa fa-sign-out"></i>&emsp;<span translate="NAVIGATION_BAR.LOGOUT"></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>