<div id="landing-page">
    <nav class="navbar navbar-default navbar-swamp navbar-fixed-top" role="navigation" scroll-aware scroll-limit="100">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-bar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a smooth-scroll="#landing-page" class="navbar-brand">Swamp</a>
            </div>
            <div class="collapse navbar-collapse" id="navigation-bar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-menu-item">
                        <a smooth-scroll="#features" translate="LANDING_PAGE.FEATURES"></a>
                    </li>
                    <li class="navbar-menu-item">
                        <a smooth-scroll="#download" translate="LANDING_PAGE.DOWNLOAD"></a>
                    </li>
                    <li class="navbar-menu-item">
                        <a smooth-scroll="#getting-started" translate="LANDING_PAGE.GETTING_STARTED"></a>
                    </li>
                    <li class="navbar-menu-item">
                        <a ui-sref="public.login" translate="AUTHENTICATION.LOGIN"></a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{"LANDING_PAGE.LANGUAGE_SELECTOR" | translate}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="changeSiteLanguage('en')"><img src="images/flags/us.png" alt="English">&ensp;English</a></li>
                            <li><a ng-click="changeSiteLanguage('hu')"><img src="images/flags/hu.png" alt="Magyar">&ensp;Magyar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="welcome-screen">
        <div class="container">
            <div class="welcome-content">
                <h1 class="welcome-title" translate="LANDING_PAGE.WELCOME_TITLE"></h1>
                <p class="welcome-desc" translate="LANDING_PAGE.WELCOME_TEXT"></p>
                <a class="btn btn-primary" ui-sref="public.register" translate="LANDING_PAGE.GET_STARTED"></a>
            </div>
        </div>
    </div>

    <div id="features" class="section section-default">
        <div class="container">
            <div class="row section-header">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2 translate="LANDING_PAGE.FEATURES_TITLE"></h2>
                    <div class="divider divider-default"></div>
                </div>
            </div>
            <div class="row section-content text-center">
                <div class="col-sm-4 col-md-4 col-lg-4 feature-container">
                    <div class="icon"><i class="fa fa-lock"></i></div>
                    <h3 translate="LANDING_PAGE.SECURITY"></h3>
                    <p translate="LANDING_PAGE.SECURITY_DESC"></p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 feature-container">
                    <div class="icon"><i class="fa fa-users"></i></div>
                    <h3 translate="LANDING_PAGE.GROUPS"></h3>
                    <p translate="LANDING_PAGE.GROUPS_DESC"></p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 feature-container">
                    <div class="icon"><i class="fa fa-mobile"></i></div>
                    <h3 translate="LANDING_PAGE.MOBILE_CLIENT"></h3>
                    <p translate="LANDING_PAGE.MOBILE_CLIENT_DESC"></p>
                </div>
            </div>
        </div>
    </div>

    <div id="download" class="section section-colored">
        <div class="container">
            <div class="row section-header">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2 translate="LANDING_PAGE.DOWNLOAD_TITLE"></h2>
                    <div class="divider divider-colored"></div>
                </div>
            </div>
            <div class="row section-content">
                <div class="col-sm-5 col-md-5 col-lg-5 text-center">
                    <img src="/images/android-product-image.png" alt="Android client" class="product-image">
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <div class="android-client-feature">
                        <div class="feature-icon">
                            <div><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
                        </div>
                        <div class="feature-content">
                            <div class="feature-title" translate="LANDING_PAGE.EASY_TO_USE"></div>
                            <div class="feature-description" translate="LANDING_PAGE.EASY_TO_USE_DESC"></div>
                        </div>
                    </div>
                    <div class="android-client-feature">
                        <div class="feature-icon">
                            <div><i class="fa fa-cog" aria-hidden="true"></i></div>
                        </div>
                        <div class="feature-content">
                            <div class="feature-title" translate="LANDING_PAGE.OPTIMIZED"></div>
                            <div class="feature-description" translate="LANDING_PAGE.OPTIMIZED_DESC"></div>
                        </div>
                    </div>
                    <div class="android-client-feature">
                        <div class="feature-icon">
                            <div><i class="fa fa-bell" aria-hidden="true"></i></div>
                        </div>
                        <div class="feature-content">
                            <div class="feature-title" translate="LANDING_PAGE.PUSH_NOTIFICATIONS"></div>
                            <div class="feature-description" translate="LANDING_PAGE.PUSH_NOTIFICATIONS_DESC"></div>
                        </div>
                    </div>
                    
                    <button class="btn btn-primary download-button">
                        <i class="fa fa-android" aria-hidden="true"></i>&ensp;{{"LANDING_PAGE.DOWNLOAD_NOW" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="getting-started" class="section section-default">
        <div class="container">
            <div class="row section-header">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h2 translate="LANDING_PAGE.GETTING_STARTED_TITLE"></h2>
                    <div class="divider divider-default"></div>
                </div>
            </div>
            <div class="row section-content">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center" translate="LANDING_PAGE.COPYRIGHT"></div>
            </div>
        </div>
    </footer>
</div>