<div id="login-page" class="public-page">
    <a class="form-box-logo" ui-sref="public.home">Swamp</a>
    <form name="loginForm" class="form-box" ng-submit="authenticateUser()">
        <div class="icon">
            <i class="fa fa-sign-in"></i>
        </div>

        <notification ng-model="notifications.authenticationFailure" text="{{authenticationErrorMessage}}" type="danger"></notification>
        <notification ng-model="notifications.accountActivationSuccess" text="" type="success"></notification>
        <notification ng-model="notifications.accountActivationFailure" text="ERROR_MESSAGES.ACTIVATION_FAILURE" type="danger"></notification>

        <div class="form-group has-feedback" ng-messages="loginForm.emailAddress" ng-class="getClassForField(loginForm.emailAddress)">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user text-muted"></i></span>
                <input type="email" class="form-control" name="emailAddress" ng-model="credentials.emailAddress" placeholder="{{'USER_DETAILS.EMAIL_ADDRESS' | translate}}" required>
            </div>
            <span ng-message="$valid" class="form-control-feedback" ng-if="loginForm.emailAddress.$dirty">
                <i class="fa fa-check text-success"></i>
            </span>
            <span ng-message="$error" class="form-control-feedback" ng-if="loginForm.emailAddress.$dirty">
                <i class="fa fa-times text-danger"></i>
            </span>
        </div>

        <div class="form-group has-feedback" ng-messages="loginForm.password" ng-class="getClassForField(loginForm.password)">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock text-muted"></i></span>
                <input type="password" class="form-control" name="password" ng-model="credentials.password" ng-pattern="passwordPattern" placeholder="{{'USER_DETAILS.PASSWORD' | translate}}" required>
            </div>
            <span ng-message="$valid" class="form-control-feedback" ng-if="loginForm.password.$dirty">
                <i class="fa fa-check text-success"></i>
            </span>
            <span ng-message="$error" class="form-control-feedback" ng-if="loginForm.password.$dirty">
                <i class="fa fa-times text-danger"></i>
            </span>
        </div>

        <button type="submit" class="btn btn-default btn-block" name="loginButton" translate="BUTTON_LABELS.LOGIN"></button>
        <p class="suggestion-link text-left">
            {{"LOGIN_PAGE.NOT_REGISTERED" | translate}} <a ui-sref="public.register" translate="LOGIN_PAGE.REGISTER_HERE"></a>
            <span><a ui-sref="public.password_reset" translate="LOGIN_PAGE.FORGOTTEN_PASSWORD"></a></span>
        </p>
    </form>
</div>