<div id="password-reset-page" class="public-page">
    <a class="form-box-logo" ui-sref="public.home">Swamp</a>
    <form name="requestPasswordResetForm" class="form-box" ng-submit="requestPasswordResetEmail(emailAddress)" ng-if="!tokenProvided">
        <div class="icon">
            <i class="fa fa-envelope"></i>
        </div>

        <notification ng-model="notifications.emailSendingSuccess" text="PASSWORD_RESET.EMAIL_SENT" type="success"></notification>
        <notification ng-model="notifications.emailSendingFailure" text="{{errorMessage}}" type="danger"></notification>

        <div ng-messages="requestPasswordResetForm.accountLogin" role="alert">
            <div class="form-group has-feedback" ng-class="getClassForField(requestPasswordResetForm.accountLogin)">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user text-muted"></i></span>
                    <input type="email" class="form-control" name="accountLogin" ng-model="emailAddress" placeholder="{{'USER_DETAILS.EMAIL_ADDRESS' | translate}}" required>
                </div>
                <span ng-message="$valid" class="form-control-feedback" aria-hidden="true" ng-if="requestPasswordResetForm.accountLogin.$dirty"><i class="fa fa-check"></i></span>
                <span ng-message="$error" class="form-control-feedback" aria-hidden="true" ng-if="requestPasswordResetForm.accountLogin.$dirty"><i class="fa fa-times"></i></span>
            </div>
        </div>

        <button type="submit" class="btn btn-default btn-block" name="requestButton" translate="BUTTON_LABELS.REQUEST_RESET_EMAIL"></button>
    </form>

    <form name="updateNewPasswordForm" class="form-box" ng-submit="resetForgottenPassword(updatedPassword)" ng-if="tokenProvided">
        <div class="icon">
            <i class="fa fa-refresh"></i>
        </div>

        <notification ng-model="notifications.passwordUpdateSuccess" text="PASSWORD_RESET.PASSWORD_UPDATED" type="success"></notification>
        <notification ng-model="notifications.passwordUpdateFailure" text="{{errorMessage}}" type="danger"></notification>


        <div ng-messages="updateNewPasswordForm.newPassword" role="alert">
            <div class="form-group has-feedback" ng-class="getClassForField(updateNewPasswordForm.newPassword)">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock text-muted"></i></span>
                    <input type="password" class="form-control" name="newPassword" ng-model="updatedPassword"
                           ng-pattern="passwordPattern" placeholder="{{'USER_DETAILS.PASSWORD' | translate}}" required>
                </div>
                <span ng-message="$valid" class="form-control-feedback" aria-hidden="true" ng-if="updateNewPasswordForm.newPassword.$dirty"><i class="fa fa-check"></i></span>
                <span ng-message="$error" class="form-control-feedback" aria-hidden="true" ng-if="updateNewPasswordForm.newPassword.$dirty"><i class="fa fa-times"></i></span>
            </div>
        </div>

        <button type="submit" class="btn btn-default btn-block" name="updateButton" translate="BUTTON_LABELS.UPDATE_PASSWORD"></button>
    </form>
</div>