<div id="registration-page" class="public-page">
    <a class="form-box-logo" ui-sref="public.home">Swamp</a>
    <form name="registrationForm" class="form-box" ng-submit="registerSwampUser()">
        <div class="icon">
            <i class="fa fa-user-plus"></i>
        </div>

        <div class="form-group has-feedback" ng-messages="registrationForm.firstName" ng-class="getClassForField(registrationForm.firstName)">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-pencil text-muted"></i></span>
                <input type="text" class="form-control" name="firstName" ng-model="accountDetails.firstName" placeholder="{{'USER_DETAILS.FIRST_NAME' | translate}}" required>
            </div>
            <span ng-message="$valid" class="form-control-feedback" ng-if="registrationForm.firstName.$dirty">
                <i class="fa fa-check text-success"></i>
            </span>
            <span ng-message="$error" class="form-control-feedback" ng-if="registrationForm.firstName.$dirty">
                <i class="fa fa-times text-danger"></i>
            </span>
        </div>

        <div class="form-group has-feedback" ng-messages="registrationForm.lastName" ng-class="getClassForField(registrationForm.lastName)">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-pencil text-muted"></i></span>
                <input type="text" class="form-control" name="lastName" ng-model="accountDetails.lastName" placeholder="{{'USER_DETAILS.LAST_NAME' | translate}}" required>
            </div>
            <span ng-message="$valid" class="form-control-feedback" ng-if="registrationForm.lastName.$dirty">
                <i class="fa fa-check text-success"></i>
            </span>
            <span ng-message="$error" class="form-control-feedback" ng-if="registrationForm.lastName.$dirty">
                <i class="fa fa-times text-danger"></i>
            </span>
        </div>

        <div class="form-group has-feedback" ng-messages="registrationForm.emailAddress" ng-class="getClassForField(registrationForm.emailAddress)">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope text-muted"></i></span>
                <input type="email" class="form-control" name="emailAddress" ng-model="accountDetails.emailAddress" placeholder="{{'USER_DETAILS.EMAIL_ADDRESS' | translate}}" required>
            </div>
            <span ng-message="$valid" class="form-control-feedback" ng-if="registrationForm.emailAddress.$dirty">
                <i class="fa fa-check text-success"></i>
            </span>
            <span ng-message="$error" class="form-control-feedback" ng-if="registrationForm.emailAddress.$dirty">
                <i class="fa fa-times text-danger"></i>
            </span>
        </div>

        <div class="form-group has-feedback" ng-messages="registrationForm.password" ng-class="getClassForField(registrationForm.password)"
             tooltip text="{{'AUTHENTICATION.PASSWORD_STRENGTH_HINT' | translate}}" placement="right">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock text-muted"></i></span>
                <input type="password" class="form-control" name="password" ng-model="accountDetails.password"
                       ng-pattern="passwordPattern" placeholder="{{'USER_DETAILS.PASSWORD' | translate}}" required>
            </div>
            <span ng-message="$valid" class="form-control-feedback" ng-if="registrationForm.password.$dirty">
                <i class="fa fa-check text-success"></i>
            </span>
            <span ng-message="$error" class="form-control-feedback" ng-if="registrationForm.password.$dirty">
                <i class="fa fa-times text-danger"></i>
            </span>
        </div>

        <div class="form-group has-feedback" ng-messages="registrationForm.passwordConfirm" ng-class="getClassForField(registrationForm.passwordConfirm)">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-exclamation-triangle text-muted"></i></span>
                <input type="password" class="form-control" name="passwordConfirm" ng-model="passwordConfirmation"
                       ng-match="accountDetails.password" placeholder="{{'AUTHENTICATION.PASSWORD_CONFIRMATION' | translate}}" required>
            </div>
            <span ng-message="$valid" class="form-control-feedback" ng-if="registrationForm.passwordConfirm.$dirty">
                <i class="fa fa-check text-success"></i>
            </span>
            <span ng-message="$error" class="form-control-feedback" ng-if="registrationForm.passwordConfirm.$dirty">
                <i class="fa fa-times text-danger"></i>
            </span>
        </div>

        <button type="submit" class="btn btn-default btn-block" name="registerButton" translate="BUTTON_LABELS.REGISTER"></button>
        <p class="suggestion-link text-center">{{"REGISTRATION.ALREADY_MEMBER" | translate}} <a ui-sref="public.login" translate="REGISTRATION.LOGIN_HERE"></a></p>
    </form>
</div>