<div id="dashboard" class="page-container">
    <div ng-include="'/templates/includes/navigation-bar.html'"></div>
    <div class="container">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-header">
                    <div>
                        <h4 translate="DASHBOARD.PANEL_HEADER"></h4>
                        <p translate="DASHBOARD.PANEL_HEADER_DESC"></p>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12 col-lg-12">
                        <div class="text-center text-muted" style="padding: 50px 0px" translate="ERROR_MESSAGES.UNDER_CONSTRUCTION"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>