<div id="group-details" class="page-container">
    <div ng-include="'/templates/includes/navigation-bar.html'"></div>
    <div class="container">
        <div ng-include="'/templates/includes/unauthorized-notification.html'" ng-if="unauthorized"></div>
        <div class="col-md-12 col-lg-12" ng-init="activeTab = 1" ng-if="group">
        
            <notification ng-model="notifications.operationSuccess" text="{{notifications.message}}" type="success"></notification>

            <div class="panel panel-default">
                <div class="panel-header">
                    <div class="initial">
                        <div>{{group.groupName | limitTo: 1 | uppercase}}</div>
                    </div>
                    <div>
                        <h4>
                            {{group.groupName}}&nbsp;
                            <span ng-if="!group.public" tooltip text="{{'GROUP_DETAILS.PRIVATE' | translate}}" placement="right">
                                <i class="text-success fa fa-lock"></i>
                            </span>
                            <span ng-if="group.public" tooltip text="{{'GROUP_DETAILS.PUBLIC' | translate}}" placement="right">
                                <i class="text-warning fa fa-unlock-alt"></i>
                            </span>
                        </h4>
                        <p ng-bind="group.description" ng-if="group.description"></p>
                        <p translate="ERROR_MESSAGES.NO_DESCRIPTION" ng-if="!group.description"></p>
                    </div>
                    <div class="button-group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" ng-click="activeTab = 1">
                                <i class="fa fa-line-chart"></i>&ensp;{{"BUTTON_LABELS.OVERVIEW" | translate}}
                            </button>
                            <button type="button" class="btn btn-default" ng-click="activeTab = 2">
                                <i class="fa fa-get-pocket"></i>&ensp;{{"BUTTON_LABELS.POCKETS" | translate}}
                            </button>
                            <button type="button" class="btn btn-default" ng-click="activeTab = 3">
                                <i class="fa fa-users"></i>&ensp;{{"BUTTON_LABELS.MEMBERS" | translate}}
                            </button>
                            <div class="btn-group" role="group" authorized has-group-permission="SUPERUSER" membership="group.membership">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cog"></i>&ensp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a ng-click="editGroup()">
                                            <i class="fa fa-pencil"></i>&ensp;{{"BUTTON_LABELS.EDIT_GROUP" | translate}}
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="deleteGroup()">
                                            <i class="fa fa-times"></i>&ensp;{{"BUTTON_LABELS.DELETE_GROUP" | translate}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <!-- Group overview -->
                    <div class="col-md-12 col-lg-12" ng-if="activeTab == 1">
                        <div class="text-center text-muted" style="padding: 50px 0px" translate="ERROR_MESSAGES.UNDER_CONSTRUCTION"></div>
                    </div>

                    <!-- Group pockets -->
                    <div ng-if="activeTab == 2">
                        <div class="col-md-12 col-lg-12" ng-if="!pockets">
                            <div class="loader-inner text-center ball-clip-rotate">
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12" ng-if="pockets.length == 0">
                            <div class="text-center text-muted" style="padding: 50px 0px" translate="ERROR_MESSAGES.NO_POCKETS"></div>
                        </div>
                        <div class="col-md-12 col-lg-12" ng-if="pockets.length != 0">
                            <div class="pocket-list-item" ng-repeat="pocket in pockets | orderBy: '-creationDate' track by $index">
                                <div class="initial" ng-class="getPocketInitialClass(pocket)">
                                    <div>{{pocket.pocketName | limitTo: 1 | uppercase}}</div>
                                </div>
                                <div>
                                    <div class="btn-group">
                                        <strong><a ui-sref="protected.pocket_details({pocketId: pocket.pocketId})" ng-bind="pocket.pocketName"></a></strong>
                                        <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                           authorized has-group-permission="PRIVILEGED" membership="group.membership">
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a ng-click="editGroupPocket(pocket)">
                                                <i class="fa fa-pencil"></i>&ensp;<span translate="BUTTON_LABELS.EDIT_POCKET"></span>
                                            </a></li>
                                            <li><a ng-click="deleteGroupPocket(pocket)">
                                                <i class="fa fa-times"></i>&ensp;<span translate="BUTTON_LABELS.DELETE_POCKET"></span>
                                            </a></li>
                                        </ul>
                                    </div>
                                    <p class="text-muted" ng-if="pocket.description">{{pocket.description}}</p>
                                    <p class="text-muted" ng-if="!pocket.description" translate="ERROR_MESSAGES.NO_DESCRIPTION"></p>
                                </div>
                                <div>
                                    <b ng-class="getBalanceTextClass(pocket)">
                                        <i class="fa fa-arrow-up" ng-if="pocket.balance - pocket.initialValue > 0"></i>
                                        <i class="fa fa-arrow-down" ng-if="pocket.balance - pocket.initialValue < 0"></i>
                                        &nbsp;
                                        {{pocket.balance - pocket.initialValue | number}} {{pocket.currency}}
                                    </b><br/>
                                    <span class="text-muted">{{pocket.creationDate | date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Group members -->
                    <div class="members-container" ng-if="activeTab == 3">
                        <div class="col-md-12 col-lg-12" ng-if="!members">
                            <div class="loader-inner text-center ball-clip-rotate">
                                <div></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" ng-repeat="member in members | orderBy: ['-membershipValue', 'firstName'] track by $index" ng-if="members">
                            <img class="profile-picture profile-picture-md" ng-src="/images/profiles/{{member.profilePicture}}" alt="Profile" align="left">

                            <div class="member-info">
                                <strong ng-if="!memberIsEditable(member)">{{member.firstName}} {{member.lastName}}</strong>
                                <div class="btn-group" ng-if="memberIsEditable(member)">
                                    <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <strong>{{member.firstName}} {{member.lastName}}</strong>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a ng-click="editGroupMember(member)">
                                            <i class="fa fa-pencil"></i>&ensp;<span translate="BUTTON_LABELS.EDIT_MEMBER"></span>
                                        </a></li>
                                        <li><a ng-click="deleteGroupMember(member)">
                                            <i class="fa fa-times"></i>&ensp;<span translate="BUTTON_LABELS.DELETE_MEMBER"></span>
                                        </a></li>
                                    </ul>
                                </div>
                                <p class="text-muted">{{"GROUP_ROLES." + member.memberRole | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-right" ng-if="activeTab == 2" authorized has-group-permission="PRIVILEGED" membership="group.membership">
                    <button type="submit" class="btn btn-primary" ng-click="addGroupPocket()">
                        <i class="fa fa-plus"></i>&ensp;{{"BUTTON_LABELS.NEW_POCKET" | translate}}
                    </button>
                </div>

                <div class="panel-footer text-right" ng-if="activeTab == 3" authorized has-group-permission="PRIVILEGED" membership="group.membership">
                    <button type="submit" class="btn btn-primary" ng-click="addGroupMember()">
                        <i class="fa fa-plus"></i>&ensp;{{"BUTTON_LABELS.ADD_MEMBER" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>