<div id="group-list" class="page-container">
    <div ng-include="'/templates/includes/navigation-bar.html'"></div>
    <div class="container" ng-init="onlyMyGroups = false">
        <div class="col-md-12 col-lg-12">
        
            <notification ng-model="notifications.groupAddSuccess" text="GROUP_LIST.GROUP_ADDED" type="success"></notification>
            <notification ng-model="notifications.groupDeleteSuccess" text="GROUP_LIST.GROUP_DELETED" type="success"></notification>

            <div class="panel panel-default">
                <div class="panel-header">
                    <div>
                        <h4 translate="GROUP_LIST.PANEL_HEADER"></h4>
                        <p translate="GROUP_LIST.PANEL_HEADER_DESC"></p>
                    </div>
                    <div class="button-group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary" ng-click="addNewGroup()">
                                <i class="fa fa-plus"></i>&ensp;{{"BUTTON_LABELS.NEW_GROUP" | translate}}
                            </button>
                            <div class="btn-group" role="group">
                                <button class="btn btn-default dropdown-toggle" type="button" id="options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-cog"></i>&ensp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="options">
                                    <li>
                                        <a ng-click="onlyMyGroups = !onlyMyGroups">
                                            <i class="fa fa-check" ng-class="{'text-light': !onlyMyGroups}"></i>&ensp;{{"BUTTON_LABELS.SHOW_ONLY_MY_GROUPS" | translate}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12 col-lg-12">
                        <div class="loader-inner text-center ball-clip-rotate" ng-if="!groupList">
                            <div></div>
                        </div>
                        <div class="col-md-12 col-lg-12" ng-if="groupList.length == 0">
                            <div class="text-center text-muted" style="padding: 50px 0px" translate="ERROR_MESSAGES.NO_POCKETS"></div>
                        </div>
                        <table class="group-list-table" ng-if="groupList.length > 0">
                            <tr ng-repeat="group in filteredData = (groupList | filter: filterFunction | orderBy: 'groupName') track by $index">
                                <td width="75">
                                    <div class="initial">{{group.groupName | limitTo: 1 | uppercase}}</div>
                                </td>
                                <td valign="middle">
                                    <div class="group-info">
                                        <strong><a ui-sref="protected.group_details({groupId: group.groupId})" ng-bind="group.groupName"></a></strong>
                                        <p ng-if="group.description">{{group.description}}</p>
                                        <p ng-if="!group.description" translate="ERROR_MESSAGES.NO_DESCRIPTION"></p>
                                    </div>
                                </td>
                            </tr>
                            <tr class="text-center text-muted" ng-if="filteredData.length == 0">
                                <td translate="ERROR_MESSAGES.NO_GROUP_LIST" style="padding: 15px 0px"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>