<div id="my-finances" class="page-container">
    <div ng-include="'/templates/includes/navigation-bar.html'"></div>
    <div class="container">
        <div class="col-md-12 col-lg-12" ng-init="activeTab = 1">

            <notification ng-model="notifications.operationSuccess" text="{{notifications.message}}" type="success"></notification>

            <div class="panel panel-default">
                <div class="panel-header">
                    <div>
                        <h4 translate="MY_FINANCES.TITLE"></h4>
                        <p translate="MY_FINANCES.SUBTITLE"></p>
                    </div>
                    <div class="button-group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" ng-click="activeTab = 1">
                                <i class="fa fa-line-chart"></i>&ensp;{{"BUTTON_LABELS.OVERVIEW" | translate}}
                            </button>
                            <button type="button" class="btn btn-default" ng-click="activeTab = 2">
                                <i class="fa fa-get-pocket"></i>&ensp;{{"BUTTON_LABELS.POCKETS" | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <!-- Finances overview -->
                    <div class="col-md-12 col-lg-12" ng-if="activeTab == 1">
                        <div class="col-md-12 col-lg-12">
                            <div class="text-center text-muted" style="padding: 50px 0px" translate="ERROR_MESSAGES.UNDER_CONSTRUCTION"></div>
                        </div>
                    </div>
                    <div ng-if="activeTab == 2">
                        <div class="col-md-12 col-lg-12" ng-if="!pockets">
                            <div class="loader-inner text-center ball-clip-rotate">
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12" ng-if="pockets.length == 0">
                            <div class="text-center text-muted" style="padding: 50px 0px" translate="ERROR_MESSAGES.NO_POCKETS"></div>
                        </div>
                        <div class="col-md-12 col-lg-12" ng-if="pockets.length != 0">
                            <div class="pocket-list-item" ng-repeat="pocket in pockets | orderBy: '-creationDate' track by $index">
                                <div class="initial" ng-class="getPocketInitialClass(pocket)">
                                    <div>{{pocket.pocketName | limitTo: 1 | uppercase}}</div>
                                </div>
                                <div>
                                    <div class="btn-group">
                                        <strong><a ui-sref="protected.pocket_details({pocketId: pocket.pocketId})" ng-bind="pocket.pocketName"></a></strong>
                                        <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a ng-click="editUserPocket(pocket)">
                                                <i class="fa fa-pencil"></i>&ensp;<span translate="BUTTON_LABELS.EDIT_POCKET"></span>
                                            </a></li>
                                            <li><a ng-click="deleteUserPocket(pocket)">
                                                <i class="fa fa-times"></i>&ensp;<span translate="BUTTON_LABELS.DELETE_POCKET"></span>
                                            </a></li>
                                        </ul>
                                    </div>
                                    <p class="text-muted" ng-if="pocket.description">{{pocket.description}}</p>
                                    <p class="text-muted" ng-if="!pocket.description" translate="ERROR_MESSAGES.NO_DESCRIPTION"></p>
                                </div>
                                <div>
                                    <b ng-class="getBalanceTextClass(pocket)">
                                        <i class="fa fa-arrow-up" ng-if="pocket.balance - pocket.initialValue > 0"></i>
                                        <i class="fa fa-arrow-down" ng-if="pocket.balance - pocket.initialValue < 0"></i>
                                        &nbsp;
                                        {{pocket.balance - pocket.initialValue | number}} {{pocket.currency}}
                                    </b><br/>
                                    <span class="text-muted">{{pocket.creationDate | date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-right" ng-if="activeTab == 2">
                    <button type="submit" class="btn btn-primary" ng-click="addUserPocket()">
                        <i class="fa fa-plus"></i>&ensp;{{"BUTTON_LABELS.NEW_POCKET" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>