<div id="pocket-details" class="page-container">
    <div ng-include="'/templates/includes/navigation-bar.html'"></div>
    <div class="container">
        <div ng-include="'/templates/includes/unauthorized-notification.html'" ng-if="unauthorized"></div>
        <div class="col-md-12 col-lg-12" ng-init="activeTab = 1" ng-if="pocket">
        
            <notification ng-model="notifications.operationSuccess" text="{{notifications.message}}" type="success"></notification>

            <div class="panel panel-default">
                <div class="panel-header">
                    <div class="initial" ng-class="getPocketInitialClass()">
                        <div>{{pocket.pocketName | limitTo: 1 | uppercase}}</div>
                    </div>
                    <div>
                        <h4>
                            {{pocket.pocketName}}
                        </h4>
                        <p ng-bind="pocket.description" ng-if="pocket.description"></p>
                        <p translate="ERROR_MESSAGES.NO_DESCRIPTION" ng-if="!pocket.description"></p>
                    </div>
                    <div class="button-group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" ng-click="activeTab = 1">
                                <i class="fa fa-line-chart"></i>&ensp;{{"BUTTON_LABELS.OVERVIEW" | translate}}
                            </button>
                            <button type="button" class="btn btn-default" ng-click="activeTab = 2">
                                <i class="fa fa-credit-card"></i>&ensp;{{"BUTTON_LABELS.ENTRIES" | translate}}
                            </button>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div ng-if="activeTab == 1">
                        <div class="col-md-12 col-lg-12">
                            <div class="text-center text-muted" style="padding: 50px 0px" translate="ERROR_MESSAGES.UNDER_CONSTRUCTION"></div>
                        </div>
                    </div>
                    <div ng-if="activeTab == 2">
                        <div class="col-md-12 col-lg-12" ng-if="!entries">
                            <div class="loader-inner text-center ball-clip-rotate">
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12" ng-if="entries.length == 0">
                            <div class="text-center text-muted" style="padding: 50px 0px" translate="ERROR_MESSAGES.NO_ENTRIES"></div>
                        </div>
                        <div class="col-md-12 col-lg-12" ng-if="entries.length != 0">
                            <div class="pocket-entry-list-item clearfix" ng-repeat="entry in entries track by $index">
                                <span class="pull-left">
                                    {{entry.amount}}
                                </span>
                                <span class="pull-right">
                                    <a ng-click="editPocketEntry(entry)"><i class="fa fa-pencil"></i></a>&ensp;
                                    <a ng-click="deletePocketEntry(entry)"><i class="fa fa-times"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-right" ng-if="activeTab == 2" authorized has-pocket-permission="WRITE" pocket="pocket">
                    <button type="submit" class="btn btn-primary" ng-click="addPocketEntry()">
                        <i class="fa fa-plus"></i>&ensp;{{"BUTTON_LABELS.NEW_ENTRY" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>