<div id="settings" class="page-container">
    <div ng-include="'/templates/includes/navigation-bar.html'"></div>
    <div class="container" ng-init="activeTab = 1">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <ul class="list-group list-group-tabs">
                    <li class="list-group-item" ng-class="{active: activeTab == 1}">
                        <a ng-click="activeTab = 1"><i class="fa fa-user"></i>&emsp;<span translate="SETTINGS.PROFILE"></span></a>
                    </li>
                    <li class="list-group-item" ng-class="{active: activeTab == 2}">
                        <a ng-click="activeTab = 2"><i class="fa fa-cogs"></i>&emsp;<span translate="SETTINGS.ACCOUNT"></span></a>
                    </li>
                    <li class="list-group-item" ng-class="{active: activeTab == 3}">
                        <a ng-click="activeTab = 3"><i class="fa fa-shield"></i>&emsp;<span translate="SETTINGS.SECURITY"></span></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9 col-lg-9">
                <notification ng-model="notifications.accountUpdateSuccess" text="SETTINGS.UPDATE_SUCCESS" type="success"></notification>
                <notification ng-model="notifications.updateFailure" text="{{errorMessage}}" type="danger"></notification>

                <form name="profileForm" ng-submit="updateProfileDetails()">
                    <div class="panel panel-default" ng-if="activeTab == 1">
                        <div class="panel-header">
                            <div>
                                <h4 translate="SETTINGS.PROFILE"></h4>
                                <p translate="SETTINGS.PROFILE_HEADER"></p>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row form-group">
                                <div class="col-md-3 col-lg-3 form-label" translate="USER_DETAILS.FIRST_NAME"></div>
                                <div class="col-md-9 col-lg-9">
                                    <div class="has-feedback" ng-messages="profileForm.first_name">
                                        <input type="text" class="form-control" name="first_name" ng-model="profileDetails.firstName" required>
                                        <span ng-message="$valid" class="form-control-feedback" ng-if="profileForm.first_name.$dirty">
                                            <i class="fa fa-check text-success"></i>
                                        </span>
                                        <span ng-message="$error" class="form-control-feedback" ng-if="profileForm.first_name.$dirty">
                                            <i class="fa fa-times text-danger"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 col-lg-3 form-label" translate="USER_DETAILS.LAST_NAME"></div>
                                <div class="col-md-9 col-lg-9">
                                    <div class="has-feedback" ng-messages="profileForm.last_name">
                                        <input type="text" class="form-control" name="last_name" ng-model="profileDetails.lastName" required>
                                        <span ng-message="$valid" class="form-control-feedback" ng-if="profileForm.last_name.$dirty">
                                            <i class="fa fa-check text-success"></i>
                                        </span>
                                        <span ng-message="$error" class="form-control-feedback" ng-if="profileForm.last_name.$dirty">
                                            <i class="fa fa-times text-danger"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 col-lg-3 form-label" translate="USER_DETAILS.EMAIL_ADDRESS"></div>
                                <div class="col-md-9 col-lg-9">
                                    <div class="has-feedback" ng-messages="profileForm.email">
                                        <input type="email" class="form-control" name="email" ng-model="profileDetails.emailAddress" required>
                                        <span ng-message="$valid" class="form-control-feedback" ng-if="profileForm.email.$dirty">
                                            <i class="fa fa-check text-success"></i>
                                        </span>
                                        <span ng-message="$error" class="form-control-feedback" ng-if="profileForm.email.$dirty">
                                            <i class="fa fa-times text-danger"></i>
                                        </span>
                                        <p class="form-hint text-muted" translate="SETTINGS.EMAIL_HINT"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 col-lg-3 form-label" translate="USER_DETAILS.PROFILE_PICTURE"></div>
                                <div class="col-md-9 col-lg-9">
                                    <img ng-src="/images/profiles/{{profileDetails.profilePicture}}" class="profile-picture profile-picture-lg" alt="Profile">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="reset" class="btn btn-default" translate="BUTTON_LABELS.RESET"></button>
                            <button type="submit" class="btn btn-primary" translate="BUTTON_LABELS.SAVE_CHANGES"></button>
                        </div>
                    </div>
                </form>

                <form name="accountForm" ng-submit="updateAccountSettings()">
                    <div class="panel panel-default" ng-if="activeTab == 2">
                        <div class="panel-header">
                            <div>
                                <h4 translate="SETTINGS.ACCOUNT"></h4>
                                <p translate="SETTINGS.ACCOUNT_HEADER"></p>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row form-group">
                                <div class="col-md-3 col-lg-3 form-label" translate="SETTINGS.LANGUAGE"></div>
                                <div class="col-md-5 col-lg-5">
                                    <ui-select ng-model="accountSettings.language" required>
                                        <ui-select-match>
                                            <span translate="LANGUAGES.{{$select.selected | uppercase}}"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in ['hu', 'en'] | filter: $select.search track by $index">
                                            <span translate="LANGUAGES.{{item | uppercase}}"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                            <button type="reset" class="btn btn-default" translate="BUTTON_LABELS.RESET"></button>
                            <button type="submit" class="btn btn-primary" translate="BUTTON_LABELS.SAVE_CHANGES"></button>
                            <span class="pull-right">
                                <button type="button" class="btn btn-danger" ng-click="deleteAccount()" translate="SETTINGS.DELETE_ACCOUNT"></button>
                            </span>
                        </div>
                    </div>
                </form>

                <form name="securityForm" ng-submit="updateSecuritySettings()">
                    <div class="panel panel-default" ng-if="activeTab == 3">
                        <div class="panel-header">
                            <div>
                                <h4 translate="SETTINGS.SECURITY"></h4>
                                <p translate="SETTINGS.SECURITY_HEADER"></p>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row form-group">
                                <div class="col-md-3 col-lg-3 text-right"><strong translate="USER_DETAILS.IS_PUBLIC"></strong></div>
                                <div class="col-md-9 col-lg-9">
                                    <div class="checkbox checkbox-default">
                                        <input id="isPublic" type="checkbox" name="is_public" ng-model="securitySettings.public">
                                        <label for="isPublic"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-header">
                                <div>
                                    <h4 translate="SETTINGS.CHANGE_PASSWORD"></h4>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 col-lg-3 form-label" translate="SETTINGS.CURRENT_PASSWORD"></div>
                                <div class="col-md-5 col-lg-5">
                                    <div class="has-feedback" ng-messages="securityForm.current_pwd">
                                        <input type="password" class="form-control" name="current_pwd" ng-model="securitySettings.currentPassword"
                                               ng-required="securitySettings.newPassword !== ''">
                                        <span ng-message="$valid" class="form-control-feedback" ng-if="securityForm.current_pwd.$dirty">
                                            <i class="fa fa-check text-success"></i>
                                        </span>
                                        <span ng-message="$error" class="form-control-feedback" ng-if="securityForm.current_pwd.$dirty">
                                            <i class="fa fa-times text-danger"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 col-lg-3 form-label" translate="SETTINGS.NEW_PASSWORD" ng-init="securitySettings.newPassword = ''"></div>
                                <div class="col-md-5 col-lg-5">
                                    <div class="has-feedback" ng-messages="securityForm.new_pwd">
                                        <input type="password" class="form-control" name="new_pwd" ng-pattern="passwordPattern" ng-model="securitySettings.newPassword">
                                        <span ng-message="$valid" class="form-control-feedback" ng-if="securityForm.new_pwd.$dirty">
                                            <i class="fa fa-check text-success"></i>
                                        </span>
                                        <span ng-message="$error" class="form-control-feedback" ng-if="securityForm.new_pwd.$dirty">
                                            <i class="fa fa-times text-danger"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 col-lg-3 form-label" translate="AUTHENTICATION.PASSWORD_CONFIRMATION"></div>
                                <div class="col-md-5 col-lg-5">
                                    <div class="has-feedback" ng-messages="securitySettings.pwd_confirm">
                                        <input type="password" class="form-control" name="pwd_confirm" ng-match="securitySettings.newPassword"
                                              ng-model="securitySettings.newPasswordConfirmation" ng-required="securitySettings.newPassword !== ''">
                                        <span ng-message="$valid" class="form-control-feedback" ng-if="securityForm.pwd_confirm.$dirty">
                                            <i class="fa fa-check text-success"></i>
                                        </span>
                                        <span ng-message="$error" class="form-control-feedback" ng-if="securityForm.pwd_confirm.$dirty">
                                            <i class="fa fa-times text-danger"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="reset" class="btn btn-default" translate="BUTTON_LABELS.RESET"></button>
                            <button type="submit" class="btn btn-primary" translate="BUTTON_LABELS.SAVE_CHANGES"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>