/**
 * Source file for styling common graphical elements
 */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a .caret {
    color: #6F6F6F;
}

html, body {
    font-family: "Roboto", sans-serif;
    color: #555;
}

strong, b {
    font-weight: 500;
}

table {
    width: 100%;
}

textarea {
    resize: none;
}

button.btn {
    font-size: 14px;
    padding: 7px 12px;
    line-height: 18px;
}

button.btn-default {
    color: #6A6A6A;
    background: #ECF0F1;
    border-color: #CFD9DB;
}

button.btn-default:hover {
    color: #6A6A6A;
    background: #DDE4E6;
    border-color: #C0CDD1;
}

button.btn-primary, button.btn-primary.focus, button.btn-primary:focus {
    color: #FFFFFF;
    background: #0698D3;
    border-color: transparent;
}

button.btn-primary:hover {
    color: #FFFFFF;
    background-color: #07B8FF;
    border-color: transparent;
}

button.btn-primary:active, button.btn-primary:active:focus, button.btn-primary:active:hover {
    color: #FFFFFF;
    background-color: #2F96B4;
    border-color: #2F96B4;
}

nav.navbar.navbar-swamp {
    background: #0698D3;
    border: #0698D3;
}

nav.navbar.navbar-swamp .navbar-header .navbar-brand {
    font-family: "Pacifico", cursive;
    font-size: 28px;
    font-weight: 300;
}

nav.navbar.navbar-swamp .navbar-header .navbar-brand,
nav.navbar.navbar-swamp .navbar-header .navbar-brand:hover {
    color: #FFFFFF;
    opacity: 1.0;
}

nav.navbar.navbar-swamp .navbar-nav > li > a {
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

nav.navbar.navbar-swamp .navbar-nav > li > a > .caret {
    color: #FFFFFF;
}

nav.navbar.navbar-swamp .navbar-nav > li > a:focus,
nav.navbar.navbar-swamp .navbar-nav > li > a:hover {
    color: #FFFFFF;
    opacity: 1.0;
}

nav.navbar.navbar-swamp .navbar-nav > .open > a,
nav.navbar.navbar-swamp .navbar-nav > .open > a:focus,
nav.navbar.navbar-swamp .navbar-nav > .open > a:hover {
    background: #07B8FF;
    border: none;
}

nav.navbar.navbar-swamp .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
    opacity: 0.8;
}

nav.navbar.navbar-swamp .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #FFFFFF;
    opacity: 1.0;
}

div.page-container {
    padding-top: 71px;
    background-color: #ECF0F1;
    height: 100vh;
}

div.page-container strong {
    color: #6F6F6F;
}

img.profile-picture {
    object-fit: cover;
    border-radius: 4px;
}

img.profile-picture.profile-picture-xs {
    width: 20px;
    height: 20px;
}

img.profile-picture.profile-picture-md {
    width: 50px;
    height: 50px;
}

img.profile-picture.profile-picture-lg {
    width: 120px;
    height: 120px;
}

img.profile-picture.profile-picture-xl {
    width: 200px;
    height: 200px;
}

.rounded-border {
    border-radius: 4px;
}

.very-rounded-border {
    border-radius: 8px;
}

.list-group-tabs > .list-group-item {
    padding: 0;
}

.list-group-tabs > .list-group-item > a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    color: #919191;
}

.list-group-tabs > .list-group-item > a > i {
    min-width: 15px;
    text-align: center;
}

.list-group-tabs > .list-group-item.active,
.list-group-tabs > .list-group-item.active:focus,
.list-group-tabs > .list-group-item.active:hover {
    background: #0698D3;
    border-color: transparent;
}

.list-group-tabs > .list-group-item.active > a,
.list-group-tabs > .list-group-item.active:focus > a,
.list-group-tabs > .list-group-item.active:hover > a {
    color: #FFFFFF;
}

.panel, .modal-content {
    position: relative;
    border-width: 1px;
    border-color: #CFD9DB;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel .panel-header {
    display: table;
    vertical-align: middle;
    padding: 15px;
    margin: 0px;
    width: 100%;
    background-color: #F6F6F6 !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E0E7E8 !important;
}

.panel .panel-header > div {
    display: table-cell;
    vertical-align: middle;
}

.panel .panel-header > div > h4 {
    font-weight: 400;
    margin: 0px;
    color: #0698D3;
    font-size: 16px;
}

.panel .panel-header > div > p {
    margin: 0px;
    margin-top: 5px !important;
    color: #919191;
    font-size: 14px;
}

.panel .panel-header > div.initial {
    width: 50px;
}

.panel .panel-header > div.initial > div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0px;
    color: #FFFFFF;
    background: #63B6DB;
    font-size: 26px;
    font-weight: 300;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}

.panel .panel-header > div > .btn-group {
    display: flex;
}

.panel .panel-header > div.button-group {
    width: 1px;
    text-align: right;
}

.panel .panel-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    background-color: #F6F6F6 !important;
}

.panel .panel-body strong a {
    color: #6F6F6F;
    font-size: 15px;
}

.panel .panel-body, .modal-content .modal-body {
    padding: 0px;
}

.panel .panel-body .form-group, .modal-content .modal-body .form-group {
    padding: 15px;
    margin: 0px;
}

.panel .panel-body .form-group .form-label, .modal-content .modal-body .form-group .form-label {
    text-align: right;
    padding-top: 7px;
    font-weight: 500;
}

.panel .panel-body .form-group:not(:last-child), .modal-content .modal-body .form-group:not(:last-child) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E0E7E8 !important;
}

.modal-content .modal-header {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    background-color: #F6F6F6 !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E0E7E8 !important;
}

.modal-content .modal-header h4 {
    font-weight: 400;
    margin: 0px;
    color: #0698D3;
    font-size: 16px;
}

.modal-content .modal-header p {
    margin: 0px;
    margin-top: 5px !important;
    color: #919191;
    font-size: 14px;
}

.modal-content .modal-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    background-color: #F6F6F6 !important;
}

.inline-block {
    display: inline-block;
}

.mv4px {
    margin: 4px 0px;
}

.mr5px {
    margin-right: 5px;
}

.text-light {
    color: #DDDDDD;
}

table .initial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0px;
    color: #FFFFFF;
    background: #63B6DB;
    font-size: 26px;
    font-weight: 300;
    border-radius: 50%;
    flex-wrap: wrap;
}

.group-list-table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.group-list-table tr:not(:last-child) > td {
    padding-bottom: 15px;
}

.group-list-table p {
    margin: 0px;
    color: #919191;
}

div.unauthorized {
    color: #919191;
    margin: auto;
    text-align: center;
}

div.unauthorized i {
    font-size: 140px;
    color: #CCCCCC;
}

div.unauthorized p {
    font-size: 30px;
    font-weight: 300;
    margin-top: 25px;
}

div.unauthorized p:last-child {
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
}

p.form-hint {
    margin: 5px 0px 0px 0px;
    font-size: 13px;
}

ul.dropdown-menu i.fa {
    min-width: 16px;
}

div.members-container > div {
    margin-top: 15px;
    margin-bottom: 15px;
}

div.members-container .member-info {
    display: inline-block;
    padding: 5px 5px 5px 10px;
}

div.members-container .member-info > p {
    margin: 0px;
}

div.loader-inner {
    margin: 50px 0px;
}

table.group-list-header > tbody > tr > td:last-child {
    min-width: 170px;
    text-align: right;
}

table.group-details-header > tbody > tr > td:last-child {
    min-width: 360px;
    text-align: right;
}

table.pocket-entry-table {
    margin: 15px 0px;
}

div.checkbox {
    min-width: 20px;
    min-height: 20px;
    margin: 0px;
    border-radius: 50%;
    position: relative;
}

div.checkbox label {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0px;
    border-radius: 50%;
    transition: all .5s ease;
    cursor: pointer;
    z-index: 1;
    border: 1px solid #CCCCCC;
}

div.checkbox input[type=checkbox] {
    visibility: hidden;
    margin: 0px;
}

div.checkbox.checkbox-default input[type=checkbox]:checked + label {
    background: #07B8FF;
    border: 1px solid #07B8FF;
}

div.checkbox.checkbox-green input[type=checkbox]:checked + label {
    background: #26CA28;
    border: 1px solid #26CA28;
}

div.checkbox input[type=checkbox]:checked + label:before {
    content: "\f00c";
    font: normal normal normal 12px/1 FontAwesome;
    position: absolute;
    left: 4px;
    top: 4px;
    color: #FFFFFF;
}

.modal-confirm .modal-body {
    display: table;
    width: 100%;
    vertical-align: middle;
}

.modal-confirm .modal-body > div {
    display: table-cell;
    vertical-align: middle;
}

.modal-confirm .modal-body > div:first-child {
    padding: 0px 20px;
    text-align: center;
    font-size: 100px;
    color: #CCCCCC;
}

.modal-confirm .modal-body > div:last-child h4 {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
    font-weight: 300;
}

.modal-confirm .modal-body > div:last-child {
    padding: 20px 20px 20px 0px;
}

div.pocket-list-item {
    display: table;
    width: 100%;
    vertical-align: middle;
    position: relative;
    padding: 5px 0px;
    border-radius: 5px;
    margin-bottom: 10px;
}

div.pocket-list-item:first-child {
    margin-top: 15px;
}

div.pocket-list-item:last-child {
    margin-bottom: 15px;
}

div.pocket-list-item > div {
    display: table-cell;
    vertical-align: middle;
}

div.pocket-list-item > div strong {
    font-size: 15px;
}

div.pocket-list-item > div:last-child {
    width: 1px;
    white-space: nowrap;
    text-align: right;
}

div.pocket-list-item > div p {
    margin: 0px;
    margin-top: 5px !important;
    color: #919191;
    font-size: 14px;
}

div.pocket-list-item > div.initial {
    width: 50px;
}

div.pocket-list-item > div.initial > div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 300;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}

div.initial.positive > div {
    background: #2DB281 !important;
}

div.initial.same > div {
    background: #FFD062 !important;
}

div.initial.negative > div {
    background: #FF7B73 !important;
}

div.alert {
    border-radius: 3px;
    font-size: 14px;
}

div.tooltip.right .tooltip-arrow {
    border-right-color: rgba(0, 0, 0, 0.75);
}

div.tooltip-inner {
    background-color: rgba(0, 0, 0, 0.75);
}

input.ng-dirty.ng-invalid, input.ng-dirty.ng-invalid:active, input.ng-dirty.ng-invalid:focus {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

#download .container > .section-content .android-client-feature:first-child {
    margin-top: 60px;
}

#download .container > .section-content .android-client-feature {
    display: table;
    margin-bottom: 60px;
}

#download .container > .section-content .android-client-feature > .feature-icon {
    display: table-cell;
    vertical-align: middle;
}

#download .container > .section-content .android-client-feature > .feature-icon > div {
    min-width: 63px;
    height: 63px;
    max-height: 63px;
    text-align: center;
    background: #309DCF;
    color: #FFF;
    border-radius: 50%;
    font-size: 32px;
    display: table-cell;
    vertical-align: middle;
}

#download .container > .section-content .android-client-feature > .feature-content {
    display: table-cell;
    vertical-align: top;
    padding-left: 30px;
}

#download .container > .section-content .android-client-feature > .feature-content > .feature-title {
    font-size: 22px;
    font-weight: 300;
    color: #555555;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#download .container > .section-content .download-button {
    margin-top: 20px;
    font-weight: 300;
    font-size: 17px;
    padding: 14px;
}

div.pocket-entry-list-item {
    padding: 5px 0px;
}

div.pocket-entry-list-item:first-child {
    padding: 10px 0px 5px 0px;
}

div.pocket-entry-list-item:last-child {
    padding: 5px 0px 10px 0px;
}

div.pocket-entry-list-item:first-child:last-child {
    padding: 10px 0px;
}

div.pocket-entry-list-item > .pull-left {
    font-size: 16px;
    font-weight: 300;
}

div.pocket-entry-list-item > .pull-right > a {
    color: #555555;

@media (min-width: 768px) {
    nav.navbar.navbar-swamp .navbar-nav .open .dropdown-menu > li > a {
        color: #555555;
        opacity: 0.8;
        padding: 5px 20px;
    }

    nav.navbar.navbar-swamp .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #555555;
        opacity: 1.0;
    }

    div.unauthorized {
        padding-top: 50px;
    }

    ul.dropdown-menu > li > a {
        color: #6F6F6F;
    }
}