#landing-page {
    color: #888888;
    font-weight: 300;
    font-size: 16px;
}

#landing-page strong {
    font-weight: 500;
}

#landing-page .divider {
    width: 550px;
    height: 1px;
    border: none;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#landing-page .divider.divider-default {
    background: -moz-radial-gradient(center, ellipse cover, #AAAAAA 0%, #FFFFFF 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #AAAAAA), color-stop(100%, #FFFFFF));
    background: -webkit-radial-gradient(center, ellipse cover, #AAAAAA 0%, #FFFFFF 100%);
    background: -o-radial-gradient(center, ellipse cover, #AAAAAA 0%, #FFFFFF 100%);
    background: -ms-radial-gradient(center, ellipse cover, #AAAAAA 0%, #FFFFFF 100%);
    background: radial-gradient(ellipse at center, #AAAAAA 0%, #FFFFFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#AAAAAA", endColorstr = "#FFFFFF", GradientType = 1);
}

#landing-page .divider.divider-colored {
    background: -moz-radial-gradient(center, ellipse cover, #AAAAAA 0%, #F0F0F0 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #AAAAAA), color-stop(100%, #F0F0F0));
    background: -webkit-radial-gradient(center, ellipse cover, #AAAAAA 0%, #F0F0F0 100%);
    background: -o-radial-gradient(center, ellipse cover, #AAAAAA 0%, #F0F0F0 100%);
    background: -ms-radial-gradient(center, ellipse cover, #AAAAAA 0%, #F0F0F0 100%);
    background: radial-gradient(ellipse at center, #AAAAAA 0%, #F0F0F0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#AAAAAA", endColorstr = "#F0F0F0", GradientType = 1);
}

#landing-page footer {
    padding: 40px 0 35px 0;
    background: #F8F8F8;
    border-top: 1px dotted #DDDDDD;
}

#landing-page .navbar.navbar-default {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

#landing-page .product-image {
    max-width: 80%;
}

#landing-page .section {
    color: #555555;
    padding-bottom: 80px;
    font-size: 16px;
}

#landing-page .section-header {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 10px;
}

#landing-page .section-header h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 300;
    line-height: 50px;
    text-transform: uppercase;
}

#landing-page .section-colored {
    background: #F0F0F0;
    border-top: 1px dotted #DDDDDD;
    border-bottom: 1px dotted #DDDDDD;
}

#landing-page .section-content h3 {
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 300;
}

#landing-page .section-content .feature-container {
    padding-top: 30px;
}

#landing-page .section-content .feature-container h3 {
    margin-top: 15px;
    padding: 10px 0;
}

#landing-page .section-content .feature-container .icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    line-height: 120px;
    font-size: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: #309DCF;
    color: #FFFFFF;
}

#landing-page .welcome-screen {
    text-align: center;
    color: white;
    background: #63B6DB;
    background: -moz-radial-gradient(center, ellipse cover, #63B6DB 0%, #309DCF 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #63B6DB 0%, #309DCF 100%);
    background: radial-gradient(ellipse at center, #63B6DB 0%, #309DCF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#63B6DB", endColorstr = "#309DCF",GradientType = 1);
}

#landing-page .welcome-screen .welcome-content {
    padding: 100px 0px 100px 0px;
}

#landing-page .welcome-screen .welcome-content a {
    height: 50px;
    margin: 0px 5px;
    padding: 16px 20px 0px 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    border-radius: 4px;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    text-shadow: none;
    box-shadow: none;
}

#landing-page .welcome-screen .welcome-content a:hover {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#landing-page .welcome-screen .welcome-content h1 {
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 38px;
    line-height: 50px;
}

#landing-page .welcome-screen .welcome-content strong {
    font-weight: 300;
}

#landing-page .welcome-screen .welcome-content p {
    margin: 20px 0px 30px 0px;
    opacity: 0.8;
    font-size: 16px;
}

@media (min-width: 768px) {
    #landing-page .navbar.navbar-default:not(.scroll-aware) {
        background: none;
        border: none;
        box-shadow: none;
    }

    #landing-page .navbar.navbar-default:not(.scroll-aware) .navbar-nav > .open > a,
    #landing-page .navbar.navbar-default:not(.scroll-aware) .navbar-nav > .open > a:focus,
    #landing-page .navbar.navbar-default:not(.scroll-aware) .navbar-nav > .open > a:hover {
        background: none;
        border: none;
        box-shadow: none;
    }

    #landing-page .welcome-screen .welcome-content {
        padding: 280px 0px 280px 0px;
    }
}