/**
 * Specific style rules for public pages
 */

.public-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background: #63B6DB;
    background: -moz-radial-gradient(center, ellipse cover, #63B6DB 0%, #309DCF 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #63B6DB 0%, #309DCF 100%);
    background: radial-gradient(ellipse at center, #63B6DB 0%, #309DCF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#63B6DB", endColorstr = "#309DCF",GradientType = 1);
}

.public-page .form-box-logo {
    font-family: "Pacifico", cursive;
    font-size: 30px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.public-page .form-box {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background: #FFFFFF;
}

.public-page .form-box .suggestion-link {
    color: #999999;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
    font-size: 13px;
}

.public-page .form-box .suggestion-link span {
    float: right;
    display: inline-block;
}

.public-page .form-box .suggestion-link:after {
    clear: both;
}

.public-page .form-box .icon {
    font-size: 50px;
    text-align: center;
    color: #CCCCCC;
    margin-bottom: 20px;
}

.public-page .form-box .input-group-addon {
    min-width: 40px;
}